* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

.LandingPageMain-container {
  width: 90vw;
  margin: 0 auto;
}

[mv-permissions~="login"] .mv-bar.mv-ui {
  display: none;
}

@media only screen and (min-width: 320px) {
  .contactUs .Gmail_Heaven {
    font-size: 13px !important;
  }
}
