.hero-img{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.tittle-2{
    font-style: italic;

    display:grid;
    position: absolute;
    top:200px;
    left: 600px;
    color: black;max-width: 150px;

    
}
.disc{
    text-align: justify;

}
.gmap_canvas{
    margin-left: 350px;
    margin-top: 60px;
   
}
.paragraph-event{
    width: 500px;
   color: aliceblue;
   font-size: 20px;
   box-sizing: content-box;
   padding: 0;
   margin: 0;

}


.event-title{
    color: aliceblue;
    font-size: 20px;
    margin: 50px auto;
    max-width: 50%;
   

}
.LandingPageMain2-hero{
    display: grid;
    align-items: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   min-height: 100vh;
}
