@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
/* html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
  font-size: 10px;
} */
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.LandingPageMain-header .LandingPageMain-nav .nav {
  z-index: 10000;
}

/* logo */
.LandingPageMain-header .LandingPageMain-nav .nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
}

/* logo */
.LandingPageMain-header .LandingPageMain-nav .nav div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
}

/* nav hover */
.LandingPageMain-header .nav div.main_list a:hover {
  text-decoration: underline;
}

/* nav */
.LandingPageMain-header .nav div.main_list {
  height: 65px;
  float: right;
}

/* nav ul */
/* .LandingPageMain-header .nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
} */

/* nav li */
.LandingPageMain-header .nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem;
}

/* nav a */
.LandingPageMain-header .nav div.main_list ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  font-size: 2.4rem;
}

/* Hero background image */

.LandingPageMain-hero .home {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(117, 29, 82, 0.3),
      rgba(117, 29, 82, 0.3)
    ),
    url(https://lh3.googleusercontent.com/mJucJPkLTfEmoqE9kNXjj5JGLyIhiP-Es_98KOWL4R2yWPaylqs12Ss_KNYLtkQWxAk71AZA=w1080-h608-p-no-v0);
}

/* hero h1 */
.LandingPageMain-hero .home h1 {
  color: #cff5ad;

  padding-bottom: 1%;
  font-size: 400%;
}

/* hero slogan */
.LandingPageMain-hero .Slogan {
  text-align: center;
  padding-top: 15%;
}
/* text under slogan */
.LandingPageMain-hero .Slogan p {
  color: white;
  font-weight: bold;
  font-size: 200%;
}

/* insta color  */
.social_media .fa-instagram {
  color: #e42c1f;
}

/* facebook color */
.fa-facebook {
  color: #1c89d1;
}

/* social media icons section */
.social_media {
  position: fixed;
  right: 10px;
  top: 42vh;
}
@media only screen and (min-width: 320px) {
  /* insta color  */
  .social_media .fa-instagram {
    color: #e42c1f;
  }

  /* facebook color */
  .fa-facebook {
    color: #1c89d1;
  }

  /* social media icons section */
  .social_media {
    position: fixed;
    right: 20px;
    top: 42vh;
    visibility: hidden;
  }

  /* Navbar section */

  .LandingPageMain-header .LandingPageMain-nav .nav {
    background-color: rgba(62, 131, 148, 0.534);
    width: 100vw;
    height: 10vh;
    position: fixed;
    line-height: 65px;
    text-align: center;
    z-index: 10000;
  }

  /* logo */
  .LandingPageMain-header .LandingPageMain-nav .nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
  }

  /* logo */
  .LandingPageMain-header .LandingPageMain-nav .nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
  }

  /* nav hover */
  .LandingPageMain-header .nav div.main_list a:hover {
    text-decoration: underline;
  }

  /* nav */
  .LandingPageMain-header .nav div.main_list {
    height: 65px;
    float: right;
  }

  /* nav ul */
  .LandingPageMain-header .nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* nav li */
  .LandingPageMain-header .nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
  }

  /* nav a */
  .LandingPageMain-header .nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
  }
}
