.LandingPageMain-storySection {
  background-color: #EDEDED;
  width: 100%;
  padding:35px 0px;
}

.LandingPageMain-storySection h2 {
  text-align: center;
}

.LandingPageMain-storySection .storySlogan {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.LandingPageMain-storySection .story {
  width: 70%;
  margin: 0 auto;
}
