.LandingPageMain-testimonials {
  display: grid;
  grid-template-columns: auto auto auto;
}
.LandingPageMain-testimonials .image-testimonials {
  height: 200px;
  max-width: 200px;
  border-radius: 280px;
}
