/* .LandingPageMain-testimonials .testimonial-title {
  text-align: center;
}

.LandingPageMain-testimonials .testimonials-container {
  width: 80vw;
}

.image-testimonials {
  height: 200px;
  max-width: 200px;
  border-radius: 280px;
}
#name {
  margin-left: 35px;
}
#mapSection {
  background-image: url("https://maps.googleapis.com/maps/api/staticmap?scale=1&size=1600x900&style=feature:poi.business|visibility:off&style=feature:water|visibility:simplified&style=feature:road|element:labels.icon|visibility:off&style=feature:road.highway|element:labels|saturation:-90|lightness:25&format=jpg&language=en&region=LB&markers=color:0x48487f|33.7118721,35.6255482&zoom=16&client=google-presto&signature=Gr0AmzVpqgHQPWJYU4b6VnYrc8Q");
} */
